.rodape {
  text-align: center;
  font-size: 0.85em;
  padding: 1em 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.rodape__redes-sociais {
  margin-bottom: 1.5em;
}

.rodape__titulo {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.5em;
  margin-bottom: 0.2em;
}

.rodape__logo {
  margin-bottom: 1em;
  height: 40px;
}

.rodape__secao {
  margin-top: 1em;
  width: 100%;
}

.rodape__listas {
  line-height: 2em;
}

.rodape__endereco {
  line-height: 1.2em;
}

/* .rodape {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-flow: column;
} */

@media (min-width: 640px) and (max-width: 1200px) {
  .rodape {
    font-size: 1em;
  }

  .rodape__secao {
    width: 50%;
    text-align: left;
  }

  .rodape__secao--cursos {
    order: 1;
  }

  .rodape__secao--sitemap {
    order: 2;
  }

  .rodape__secao--sobre {
    order: 3;
  }

  .rodape__secao--newsletter {
    order: 4;
  }
}

@media (min-width: 1200px) {
  .rodape {
    font-size: 0.9em;
    justify-content: space-between;
  }

  .rodape__secao {
    text-align: left;
    width: 25%;
  }

  .rodape__redes-sociais {
    width: 100%;
    text-align: left;
  }
}
