.video {
  background-color: #2a3042;
}

.video__wrapper {
  /* pai */
  position: relative;
}

.video__link {
  width: 100%;
}

.video__botao {
  /* filho */
  position: absolute;
  z-index: 99999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.video__chamada {
  color: #fff;
  text-align: center;
  line-height: 1.8em;
  padding: 1em 2em;
}

.video__titulo {
  font-weight: bold;
  font-size: 1.2em;
}

.video__titulo--destaque {
  color: #e93d50;
}
